.center-container-mid {
  height: 40%;
  display: flex;
}

.center-container-mid-item {
  flex: 1;
}

.center-container-top,
.center-container-low {
  height: 30%;
}

.center-container-low {
  display: flex;
}

.center-container-low-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.bottom-container-item {
  flex: 1;
}

.img-container {
  height: clamp(
    calc(var(--center-container-size-min) * 0.3),
    calc(var(--center-container-size) * 0.3),
    calc(var(--center-container-size-max) * 0.3)
  );
  width: clamp(
    calc(var(--center-container-size-min) * 0.3),
    calc(var(--center-container-size) * 0.3),
    calc(var(--center-container-size-max) * 0.3)
  );
}

.img-container img {
  width: 80%;
}
