.workout-list-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9rem;
  height: 9rem;
  border: 0.05rem solid var(--color-dark);
  border-radius: 0.3rem;
  overflow-y: auto;
}
