.main-container-btm {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  line-height: 0;
  justify-content: space-around;
  transition-duration: 100ms;
}

.main-container-btm--hide {
  opacity: 0;
}

.main-container-btm .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.main-container-btm button {
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
  transition-duration: 100ms;
}

.main-container-btm button .icon-text {
  margin: 0;
  font-size: 0.25rem;
  line-height: 0.25rem;
  position: absolute;
  color: var(--color-dark);
  top: 1.5rem;
}

.main-container-btm button:hover {
  transform: scale(1.1);
}

@media screen and (orientation: portrait) {
  .main-container-btm {
    flex-direction: row;
  }

  .main-container-btm--hide {
    transform: translateY(4rem);
  }
}

@media screen and (orientation: landscape) {
  .main-container-btm {
    flex-direction: column;
  }
  .main-container-btm--hide {
    transform: translateX(-4rem);
  }
}
