.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.navbar-item a {
  line-height: 0;
  opacity: 0.5;
  transition-duration: 100ms;
}

.navbar-item a:hover {
  transform: scale(1.25);
}

.navbar-item a.active {
  opacity: 1;
  transform: scale(1.25);
}

.navbar-item .icon {
  width: 1.5rem;
  height: 1.5rem;
}
