:root {
  --border-testing: 0.1px solid blue;
  --color-dark: #0c0c0c;
  --color-red-google: #df4a32;
}

* {
  border: var(--border-testing);
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.screen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  align-self: stretch;
}

.center-container {
  height: 10rem;
  width: 10rem;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

@media screen and (orientation: portrait) {
  :root {
    font-size: 10vw;
  }

  .screen-container {
    flex-direction: column;
  }

  .top-container,
  .main-container-btm {
    flex-direction: row;
  }

  .top-container {
    align-self: stretch;
  }
}

@media screen and (orientation: landscape) {
  :root {
    font-size: 10vh;
  }

  .screen-container {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .top-container {
    flex-direction: column;
  }

  .top-container {
    align-self: stretch;
  }
}
