:root {
  --side-container-ratio: 4;
  --border-testing: 1px solid blue;
}

* {
  border: var(--border-testing);
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.screen-container {
  display: flex;
  width: 99vw;
  height: 99vh;
  align-items: center;
}

.center-container {
  height: clamp(
    var(--center-container-size-min),
    var(--center-container-size),
    var(--center-container-size-max)
  );
  width: clamp(
    var(--center-container-size-min),
    calc(var(--center-container-size)),
    var(--center-container-size-max)
  );
}

@media screen and (orientation: portrait) {
  :root {
    --center-container-size-min: 59vw;
    --center-container-size: calc(99vh - 40vw);
    --center-container-size-max: 99vw;
  }

  .screen-container {
    flex-direction: column;
    padding-bottom: 15%;
  }

  .top-container,
  .bottom-container {
    height: clamp(
      calc(var(--center-container-size-min) / var(--side-container-ratio)),
      calc(var(--center-container-size) / var(--side-container-ratio)),
      calc(var(--center-container-size-max) / var(--side-container-ratio))
    );
    width: clamp(
      var(--center-container-size-min),
      var(--center-container-size),
      var(--center-container-size-max)
    );
  }
}

@media screen and (orientation: landscape) {
  :root {
    --center-container-size-min: 59vh;
    --center-container-size: calc(99vw - 40vh);
    --center-container-size-max: 99vh;
  }

  .screen-container {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .top-container,
  .bottom-container {
    height: clamp(
      var(--center-container-size-min),
      var(--center-container-size),
      var(--center-container-size-max)
    );
    width: clamp(
      calc(var(--center-container-size-min) / var(--side-container-ratio)),
      calc(var(--center-container-size) / var(--side-container-ratio)),
      calc(var(--center-container-size-max) / var(--side-container-ratio))
    );
  }
}
